* {
  border: 1px solid mediumvioletred;
}

* {
  box-sizing: border-box;
}

body {
  background: peachpuff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.a {
  background-color: #113f61;
  min-height: 20vh;
  flex-grow: 1;
}

.b{
  background-color: #cbb26a;
  min-height: 20vh;
  flex-grow: 2;
}

.c{
  background-color: #cbb;
  min-height: 20vh;
  flex-grow: 2;
}

.d{
  background-color: #cba236;
  min-height: 20vh;
  flex-grow: 2;
}

.e{
  background-color: #113f52;
  min-height: 20vh;
  flex-grow: 3;
}

.f{
  background-color: #114;
  min-height: 20vh;
  flex-grow: 3;
}

.g{
  background-color: #112e95;
  min-height: 20vh;
  flex-grow: 3;
}

.h{
  background-color: #cb0b0b;
  min-height: 40vh;
  flex-grow: 1;
}

.bcd {
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: center;
}

.efg {
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: center;
}

/* code for large screen */
@media (min-width: 100vh) 
  .container {
    display: grid;
    grid-template-rows:repeat(3,33%);
    grid-template-columns: repeat(3,33%);
    gap: 1px;
  }

   .a{
    grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  }
  
 .bcd{
   grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:2;
  }

 .efg{
     grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end:0;
  }

.h{
  grid-column-start:;
  grid-column-end:4;
  grid-row-start: 2;
  grid-row-end: 4;
}    