* {
  border: 1px solid blue;
}                  


body {
  background: blanchedalmond;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  color: var(--pale-sage);
}              

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}    

.a {
  min-height: 10vh;
  flex-grow: 5;
}

.b {
  min-height: 10vh;
  flex-grow: 5;
}

.c {
  min-height: 10vh;
  flex-grow: 5;
}
