
* {
  border: 1px solid blue;
}                  

* {
  box-sizing: border-box;
}


body {
  background: papayawhip;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  
}              

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  

}    

.a {
  background-color: #113f61;
  min-height: 10vh;
  flex-grow: 1;
  
  
}

.b {
  background-color: #cbb26a;
  min-height: 10vh;
  flex-grow: 3;
  
}

.c {
  background-color: #344d95;
  min-height: 10vh;
  flex-grow: 2;
}

.d {
  background-color: #010a24;
  min-height: 10vh;
  flex-grow: 2;
}

.e {
  background-color: #086a2f;
  min-height: 10vh;
  flex-grow: 2;
}

.f {
  background-color: #fa0b0f;
  min-height: 10vh;
  flex-grow: 1;
}

.container3 {
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: center;
 
  
}

@media (min-width: 100vh) {
  .container {
    display: grid;
    width: 100%;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    border: 1px solid black;
    height:300px

  }
  .container > .a{
    width: 100%;
  }
  .container > .b{
   grid-row: 2;
   grid-column: 1, 2, 3;
    
  }

  .f{
    max-width: 25%%;
    min-height: 20vh;
    flex-grow: 1;
  }

 .container3{
    display:grid;
    width: 100%;
    flex-grow: 2;
    grid-row:3;
  }
}                                  
       
