
* {
  border: 1px solid blue;
}                  

* {
  box-sizing: border-box;
}


body {
  background: papayawhip;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  
}              

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  

}    

.a {
  background-color: #113f61;
  min-height: 10vh;
  flex-grow: 1;
  
  
}

.b {
  background-color: #cbb26a;
  min-height: 10vh;
  flex-grow: 3;
  
}

.c {
  background-color: #344d95;
  min-height: 10vh;
  flex-grow: 2;
}

.d {
  background-color: #010a24;
  min-height: 10vh;
  flex-grow: 2;
}

.e {
  background-color: #086a2f;
  min-height: 10vh;
  flex-grow: 2;
}

.f {
  background-color: #fa0b0f;
  min-height: 10vh;
  flex-grow: 1;
}

.container3 {
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: center;
 
  
}

@media (min-width: 100vh) {
  .container {
    display: grid;
    
    grid-template-rows:repeat(3,33%);
    grid-template-columns: repeat(3,33%);
    gap: 1px;
   
  

  }
   .a{
    grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  }
 .b{
   grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:2;
    
  }

  .f{
    grid-column-start: 4;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:4;
    
  }

 .container3{
     grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end:0;
  
  }
}                                  
       